{% extends 'main/header.html'%}

{% block title %}
Вход
{% endblock %}

{% block body %}
<div class="container">
    <form class="form-signin" method="POST">
        <h2>Вход</h2>
        <?php if(isset($smsg)){ ?><div class="alert alert-success" role="alert">
            <?php echo $smsg; sleep(5); header("Location: ./succesreg.php");
            ?></div><?php }?>
        <?php if(isset($fsmsg)){ ?><div class="alert alert-danger" role="alert"> <?php echo $fsmsg; ?>
            </div><?php }?>
        <?php if(isset($uncur_email)){ ?><div class="alert alert-danger" role="alert"> <?php echo $uncur_email; ?>
            </div><?php }?>

        <input type="text" name="email" class="form-control" placeholder="Email" required>
        <input type="password" name="password" class="form-control" placeholder="Пароль" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>
</div>
<?php
require('connect.php');
session_start();

if(isset($_POST['email']) && isset($_POST['password'])){
    $email = $_POST['email'];
    $password = $_POST['password'];

    $query = "select * from wtdb.users where email = '$email' and password='$password'";
    $result = mysqli_query($connection, $query) or die(mysqli_errno($conncetion));
    $count = mysqli_num_rows($result);

    if($count == 1){
        $_SESSION['email'] = $email;
    } else{
        $fmsg = "Ошибка";
    }

    if(isset($_SESSION['email'])){
        $tmp = $_SESSION['email'];
        echo "hello $tmp";
    }

}
?>
{% endblock %}
